.bottomNavEvent {
    display: flex;
    justify-content: center;
}

.bottomNavEvent-img img {
    border-radius: 20px;
    object-fit: cover;
}

.bottomNavEvent-info {
    margin-left: 69px;
}

.group-info a {
        border: solid 1px #D3D3D3;
    background-color: #F5F5F5;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 7rem;
    width: 22rem;
    border-radius: 25px;
    font-weight: bold;
    color: black;
}

.group-image {
    margin-left: 10px;
}

.group-image img:hover {
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}

.group-image img {
    margin: 5%;
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 10px;
}

.group-name {
    margin-left: 20px;
}

.bottom-half {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-top: 25px;
}

.personalCard {
    display: flex;
    flex-direction: row;
}

.attendeesCards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 3%;
}


.attendeeHeader{
    font-size: 25px;
    color: black;
    font-weight: bolder;
}


.personalCard{
    background-color: #D3D3D3;
    display: flex;
    align-items: center;
    width: 12%;
    padding: 2%;
    margin: 3%;
    border-radius: 15px;
}

.personalName{
    margin-left: 10%;
}


.topNavEvent{
    background-color: #F5F5F5;
    margin-bottom: 4%;
    padding-left: 6%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.allNav{
    padding-left: 6%
}

.descriptionBox{
    width: 700px;
}

.attendee-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.attendee-header button {
    margin-left: 15px;
}

@media screen and (max-width: 1436px) {
    .personalCard {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
