button:hover {
  cursor: pointer;
}

footer {
  background-color: #ff9800;
  display: flex;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.footer-top {
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding-top: 10px;
}

.footer-top li {
  margin-bottom: 15px;
}
