
.calContent{
    font-size: 25px;
    font-weight: bolder;
    color: black;
}

.calendar {
    display: flex;
    flex-direction: column;
    /* flex-direction: row; */
}

.calendarImg:hover{
    -webkit-filter: brightness(50%);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
}


.calendarImg{
    border-radius: 10px;
}

button {
    border-radius: 20px;
    background-color: #ff5670;
    color: white;
    border: none;
    height: 2rem;
    width: 10rem;
    margin: 3px;
}
