.header {
  text-align: center;
}

.allGroupsImg {
  display:flex;
  height: 200px;
  width: 300px;
  justify-content: center;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 50px;
}

.allGroupsImg img {
  object-fit: cover;
  border-radius: 20px;
}

.allGroups ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 3%;
  width: 90%;
  /* border-top: solid lightgray 1px;
  border-bottom: solid lightgray 1px; */
    border: solid lightgray 1px;
    border-radius: 20px;
}

.allGroups li {
  padding-top: 10px;
}

.allGroupsInfo {
  display: flex;
  flex-direction: column;
  color: black;
}

.allGroupsHeader {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-left: 15px;
}
