h1 {
  font-size: 45px;
  font-weight: bold;
}

.button {
  background-color: #ff5607;
  border: none;
  border-radius: 20px;
  height: 2.3rem;
  width: 10rem;
  color: white;
}

.groupButtons {
  margin-left: 20px;
  margin-top: 20px;
}

.group_header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* background-color: snow;
  border: solid 2px black;
  border-radius: 30px;
  width:80%;
  margin-left: 10rem; */
}

.header_left {
  display: flex;
  margin-right: 100px;
  justify-content: center;
  height: 500px;
  width: 600px;
}

.header_img {
  object-fit: contain;
  height: 500px;
  width: 600px;
  padding-left: 10%;
}

.header_right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

li, a {
  text-decoration: none;
  list-style-type: none;
}

.groupEvents ul {
  border: solid 1px black;
  border-radius: 5px;
  padding: 20px;
  padding-left: 5%;
}

/* .groupDesc{
  padding-left: 16.5%;
} */


.groupDiv{
  padding-top: 5%;
}


.eventTitle{
  color: black;
  font-weight: bolder;
  font-size: 20px;
}

.eventContent{
  color: black;
}

.eventsHead{
  padding-left: 5%;
  font-size: 30px;
}
